body{
    background-image: url(../img/pattern.jpg);
    margin: 0px;
}
footer{
    background-color: black;
    padding: 15px;
}
h5{
    color: white;
    text-align: center;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;   
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 0px 10px 0px;
}
ul{
    list-style: none;
}
li{
    display: inline;
    margin: 5px;
}
a{
    text-decoration: none;
}
section{
    background-color: white;
    margin: 80px 150px 30px;
    padding: 25px;
}
h1{
    text-align: center;
}
article{
    border-bottom: 1px solid black;
    margin: 80px 10px 20px;
}